<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"/>
    <style>
      html, body {
        margin:0;
        padding:0;
        width: 100%;
        height: 100%;
      }
      #bad-page {
        position: relative;
        width: 100%;
        height: 100%;
      }
      img {
        width: 24%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      p {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 140%);
        font-size: 14px;
        color: #bfbfbf;
      }
    </style>
  </head>
  <body>
    <div id="bad-page">
      <img src="/imgs/404.svg" />
      <p>暂无内容</p>
    </div>
  </body>
</html>