<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/home.min.css">
  </head>
  <body>
    <a href="/">返回首页</a>
    <div id="root">正文-<%= title %></div>
  </body>
  <script src="/js/home.min.js"></script>
</html>