<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <title>好课推荐</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/assets/home.8c5b220bf6f482881a90.min.css">
    <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  </head>
  <body>
    <a href="/">返回首页</a>
    <a href="/page/git-learn/1">Git学习第一章</a>
    <div id="root">正文-<%= title %></div>
  </body>
  <script src="/js/home.5499acaf189ddbe4bdfc.min.js"></script>
</html>