<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <title>课程报名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"/>
  </head>
  <body>
    <a href="/home">个人中心</a>
    <a href="/api/pay">跳支付页面</a>
    <div id="root">正文-<%= title %></div>
  </body>
</html>