<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"/>
    <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  </head>
  <body>
    <a href="/">返回首页</a>
    <div id="root">正文-<%= title %></div>
  </body>
  <script src="/js/wxpay.b22c998f36cc2b759f7d.min.js"></script>
</html>