<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"/>
    <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  </head>
  <body>
    <a href="/">返回首页</a>
    <div id="root">正文-<%= title %></div>
  </body>
  <script src="/js/wxpay.f71436dbb2fff611632e.min.js"></script>
  <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
  <script>
    // VConsole 会自动挂载到 `window.VConsole`
    var vConsole = new window.VConsole();
  </script>
</html>