<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <title>面试题详解</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/assets/course.05b8b615456c406f6c7e.min.css">
    <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script>
      window.DATA = <%- JSON.stringify(data) %>;
    </script>
  </head>
  <body>
    <p>课程内容</p>
    <div id="root"></div>
  </body>
  <script src="/js/course.c39f29556d69c6285544.min.js"></script>
</html>